{% extends "base.html" %}
{% block title %}{{ block.super }} - Edit {{ post.title }}{% endblock %}

{% block content %}
    <h2>Edit Post</h2>
    <form id="editPost" method="post">
        {% csrf_token %}
        <label for="editTitle">Subject</label>
        <input type="text" name="title" id="newTitle" value="{{ post.title }}" autofocus>
        <br>
        <label for="editBody">Content</label>
        <textarea name="body" id="editBody">{{ post.body }}</textarea>
        <br>
        <label for="editSlug">Slug</label>
        <input type="text" name="slug" id="editSlug" value="{{ post.slug }}">
        <br>
        <label for="published">Published</label>
        <input type="radio" name="published" value="published" {% if post.published %}checked {% endif %}/>Yes
        <input type="radio" name="published" value="unpublished" {% if not post.published %}checked {% endif %}/>No
        <br>
        <input type="submit">
    </form>
    <form>
        {% csrf_token %}
        <button class="delete" data-deleteLink="{% url 'blog_DeletePost' %}" data-postId="{{ post.id }}" data-homeLink="{% url 'blog_HomePage' %}">Delete Post</button>
    </form>
{% endblock %}
