{% extends "base.html" %}
{% block title %}{{ block.super }} - Admin All Blog Posts{% endblock %}

{% block content %}
    <form class="adminFilter">
        <p>Show:</p>
        <input type="radio" name="adminFilter" id="radioAll" value="all" checked />
        <label for="radioAll">All</label>
        <br>
        <input type="radio" name="adminFilter" id="radioPublished" value="published" />
        <label for="radioPublished">Published</label>
        <br>
        <input type="radio" name="adminFilter" id="radioUnpublished" value="unpublished" />
        <label for="radioUnpublished">Unpublished</label>
    </form>

    <table class="adminList">
        <tr>
            <td>id</td>
            <td>title</td>
            <td>published</td>
            <td>created</td>
            <td>modified</td>
            <td>edit</td>
        </tr>
        {% for post in blogPosts %}
            <tr class="{% if post.published %}published{% else %}unpublished{% endif %}{% cycle ' alt' '' %}">
                <td>{{ post.id }}</td>
                <td><a href="{% url 'blog_SinglePost' post.slug %}">{{ post.title }}</a></td>
                <td>{{ post.published }}</td>
                <td>{{ post.created }}</td>
                <td>{{ post.modified }}</td>
                <td><a class="edit" href="{% url 'blog_EditPost' post.id %}">Edit</a></td>
            </tr>
        {% empty %}
            <tr><td colspan="6">Sorry no posts to display</td></tr>
        {% endfor %}
    </table>
{% endblock %}
