{% extends "base.html" %}
{% block title %}{{ block.super }} - Admin All Blog Posts{% endblock %}

{% block content %}
    <form class="adminFilter">
        <p>Show:</p>
        <input type="radio" name="adminFilter" id="radioAll" value="all" checked />
        <label for="radioAll">All</label>
        <br>
        <input type="radio" name="adminFilter" id="radioPublished" value="published" />
        <label for="radioPublished">Active</label>
        <br>
        <input type="radio" name="adminFilter" id="radioUnpublished" value="unpublished" />
        <label for="radioUnpublished">Inactive</label>
    </form>

    <table class="adminList">
        <tr>
            <td>id</td>
            <td>username</td>
            <td>email</td>
            <td>created</td>
            <td>last login</td>
            <td>active</td>
            <td>edit</td>
        </tr>
        {% for user in users %}
            <tr class="{% if user.is_active %}published{% else %}unpublished{% endif %}{% cycle ' alt' '' %}">
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.date_joined }}</td>
                <td>{{ user.last_login }}</td>
                <td>{{ user.is_active }}</td>
                <td><a class="edit" href="{% url 'blog_EditPost' user.id %}">Edit</a></td>
            </tr>
        {% empty %}
            <tr><td colspan="7">Sorry no users to display</td></tr>
        {% endfor %}
    </table>
{% endblock %}
